/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/rasfire-personal-use");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Millanova";
  src: url("./../fonts/millanova.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/millanova.eot?#iefix") format("embedded-opentype"), url("../fonts/millanova.woff2") format("woff2"), url("../fonts/millanova.woff") format("woff"), url("../fonts/millanova.ttf") format("truetype"), url("../fonts/millanova.svg#millanova") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Chandra";
  src: url("./../fonts/Chandra.ttf") format("truetype"), url("./../fonts/HELLO-CHANDRA-BF64bcefa81499d.woff") format("woff");
}
body {
  font-family: "Roboto", sans-serif;
  color: #1C1C1C;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}

.container {
  max-width: 1918px;
  margin: 0 auto;
  overflow-x: hidden;
}

.button {
  padding: 12px 16px;
  border-radius: 30px;
  border: 1px solid #6A6A6A;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  transition: background 0.2s ease-in-out;
}
.button:hover {
  background: #F8F8F8;
}

.box-bottom {
  height: 660px;
  background-color: rgb(206, 206, 206);
}

.header-last {
  color: #1C1C1C;
  font-size: 44px;
  font-weight: 500;
  text-transform: uppercase;
}
@media screen and (max-width: 576px) {
  .header-last {
    font-size: 28px;
    text-align: center;
  }
}

.title-last {
  color: #1C1C1C;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}
@media screen and (max-width: 576px) {
  .title-last {
    font-size: 16px;
    text-align: center;
  }
}

.header {
  overflow-x: clip;
}

.header__top {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: calc(50% - 560px);
  padding-right: calc(50% - 560px);
  height: 85px;
  background: #FFF;
  box-shadow: 0px 4px 20px 0px rgba(43, 43, 51, 0.2);
  z-index: 5;
}
@media screen and (max-width: 1248px) {
  .header__top {
    padding-left: calc(50% - 476px);
    padding-right: calc(50% - 456px);
  }
}
@media screen and (max-width: 984px) {
  .header__top {
    padding-left: calc(50% - 352px);
    padding-right: calc(50% - 356px);
  }
}
@media screen and (max-width: 576px) {
  .header__top {
    height: 68px;
  }
}

.header__top-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 80px;
  padding-left: 13px;
  height: 48px;
  white-space: nowrap;
}
@media screen and (max-width: 984px) {
  .header__top-box {
    width: 640px;
    column-gap: normal;
  }
}
@media screen and (max-width: 576px) {
  .header__top-box {
    padding-left: 30px;
  }
}

@media screen and (max-width: 576px) {
  .header__logo-img {
    max-width: 76%;
  }
}

.header__nav-ul {
  display: flex;
  column-gap: 42px;
  padding-left: 6px;
}

@media screen and (max-width: 1248px) {
  .header__nav-li3,
  .header__nav-li4 {
    display: none;
  }
}

@media screen and (max-width: 984px) {
  .header__nav-li1,
  .header__nav-li2 {
    display: none;
  }
}

.header__nav-link {
  padding: 12px 0;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.header__nav-link_color {
  color: #EC1C24;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.header__nav-link:hover {
  text-decoration: underline;
}

.header__contacts {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 25px;
  border-right: 1px solid #E3E3E3;
}
@media screen and (max-width: 576px) {
  .header__contacts {
    display: none;
  }
}

.header__button {
  margin-right: 20px;
}

.header__nav-svg {
  stroke: #1C1C1C;
  transition: stroke 0.2s ease-in-out;
}
.header__nav-svg:hover {
  stroke: #585858;
}

.header__nav-burger {
  padding: 24px 0 24px 24px;
}
@media screen and (max-width: 984px) {
  .header__nav-burger {
    padding-right: 15px;
  }
}
@media screen and (max-width: 576px) {
  .header__nav-burger {
    padding-right: 30px;
  }
}

.header__nav-burger > svg {
  max-width: none;
}

.header__menu {
  position: absolute;
  margin: 0 auto;
  top: -220px;
  right: 0;
  left: 0;
  max-width: 1920px;
  background-color: #FFF;
  z-index: 1;
  transition: top 1s ease-in-out, opacity 1s ease-in-out;
}
@media screen and (max-width: 576px) {
  .header__menu {
    display: none;
  }
}

.menu__show {
  top: 82px;
}

.header__menu-box {
  display: grid;
  grid-template-columns: 180px 170px 90px;
  column-gap: 114px;
  padding-top: 52px;
  padding-bottom: 52px;
  padding-left: calc(50% - 305px);
  padding-right: calc(50% - 365px);
}
@media screen and (max-width: 1248px) {
  .header__menu-box {
    padding-left: calc(50% - 390px);
    padding-right: calc(50% - 280px);
  }
}
@media screen and (max-width: 984px) {
  .header__menu-box {
    padding-left: calc(50% - 255px);
    padding-right: calc(50% - 255px);
    column-gap: 35px;
  }
}

.header__menu-title {
  padding-bottom: 20px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}

.header__menu-link {
  color: #000;
  font-size: 14px;
  font-weight: 300;
  line-height: 27px;
  /* 192.857% */
  transition: color 0.2s ease-in-out;
}
.header__menu-link:hover {
  color: #585858;
}

.pop-up {
  display: none;
  position: absolute;
  width: 100%;
  height: 642px;
  top: 0px;
  right: 0;
  background: #FFF;
  padding-left: 30px;
  padding-right: 20px;
  z-index: 8;
  overflow-x: hidden;
}

@media screen and (max-width: 576px) {
  .popup__show {
    display: block;
  }
}

.pop-up__top {
  display: flex;
  justify-content: space-between;
  height: 68px;
  padding: 10px 0;
}

.pop-up__img {
  width: 120px;
}

.pop-up__button-out {
  background-image: url(./../img/pop_up.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 46px;
  height: 46px;
}

.pop-up__menu {
  display: flex;
  flex-direction: column;
  height: 477px;
  row-gap: 28px;
  padding-top: 36px;
  padding-bottom: 60px;
}

.pop-up__menu-content {
  display: grid;
  grid-template-columns: 124px auto;
}

.pop-up__menu-title {
  grid-column: 1/3;
  padding-bottom: 12px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.pop-up__menu-link {
  color: #000;
  font-size: 14px;
  font-weight: 300;
  line-height: 27px;
  /* 192.857% */
}

.pop-up__box1 {
  grid-column: 1/2;
}

.pop-up__box2 {
  grid-column: 2/3;
}

.pop-up__line {
  margin: 0 auto;
  max-width: 100%;
  height: 1px;
  background: #D4D4D4;
}

.pop-up__button {
  white-space: nowrap;
}

.pop-up__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
  gap: 10px;
}

.pop-up__contacts-right {
  display: flex;
  gap: 10px;
}

.select {
  height: 995px;
  background: #D9D9D9;
  background: url(./../img/line-vertical.svg) center 530px no-repeat, url(./../img/select_img.jpg) center no-repeat;
  background-size: auto, cover;
}
@media screen and (max-width: 1248px) {
  .select {
    height: 683px;
    background-position: center 375px, center;
    background-size: 16px 68px, cover;
  }
}
@media screen and (max-width: 984px) {
  .select {
    height: 820px;
    background-position: center 320px, center;
    background-size: 16px 50px, cover;
  }
}
@media screen and (max-width: 576px) {
  .select {
    height: 687px;
    background-position: center 190px, center;
    background-size: 16px 50px, cover;
  }
}

.select__header {
  padding-top: 157px;
  color: #FFF;
  text-align: center;
  font-size: 128px;
  font-weight: 800;
  line-height: 135px;
  /* 105.469% */
  text-transform: uppercase;
}
@media screen and (max-width: 1248px) {
  .select__header {
    padding-top: 108px;
    font-size: 92px;
    line-height: 100px;
    /* 108.696% */
  }
}
@media screen and (max-width: 984px) {
  .select__header {
    padding-top: 76px;
    font-size: 71px;
    line-height: normal;
  }
}
@media screen and (max-width: 576px) {
  .select__header {
    padding-top: 56px;
    font-size: 40px;
  }
}

.select__text {
  padding-top: 38px;
  color: #FFF;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
}
@media screen and (max-width: 1248px) {
  .select__text {
    padding-top: 21px;
  }
}
@media screen and (max-width: 984px) {
  .select__text {
    padding-top: 14px;
    font-size: 20px;
  }
}
@media screen and (max-width: 984px) {
  .select__text {
    padding-top: 10px;
    font-size: 16px;
  }
}

.select__menu {
  display: grid;
  grid-template-columns: repeat(3, 154px) 172px 1fr 168px;
  grid-template-areas: "item1 item2 item3 item4 item5 button";
  align-items: center;
  margin-top: 182px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  width: 928px;
  height: 64px;
  border-radius: 30px;
  background-color: #FFF;
}
@media screen and (max-width: 1248px) {
  .select__menu {
    margin-top: 156px;
  }
}
@media screen and (max-width: 984px) {
  .select__menu {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "item1 item1" "item2 item2" "item3 item3" "item4 item5" "button button";
    margin-top: 110px;
    padding: 0px 24px 5px;
    width: 470px;
    height: 320px;
  }
}
@media screen and (max-width: 576px) {
  .select__menu {
    width: 300px;
  }
}

.select__menu-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
  border-right: 1px solid #D4D4D4;
  padding-left: 20px;
  cursor: pointer;
}
.select__menu-item_ch {
  border: none;
}
@media screen and (max-width: 984px) {
  .select__menu-item_ch ::before {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;
    width: 1px;
    height: 38px;
    background: #D4D4D4;
  }
}
@media screen and (max-width: 984px) {
  .select__menu-item {
    padding-left: 0px;
    height: 62px;
    border-right: none;
    border-bottom: 1px solid #D4D4D4;
  }
}

.select__item1 {
  grid-area: item1;
}

.select__item2 {
  grid-area: item2;
}

.select__item3 {
  grid-area: item3;
}

.select__item4 {
  grid-area: item4;
}

.select__item5 {
  grid-area: item5;
}
@media screen and (max-width: 984px) {
  .select__item5 {
    padding-left: 20px;
  }
}

.select__menu-title {
  color: #A1A1A1;
  font-size: 12px;
  font-weight: 400;
}
.select__menu-title_up {
  font-size: 16px;
  font-weight: 400;
  line-height: 2.5;
  text-transform: uppercase;
}

.select__menu-text {
  color: #1C1C1C;
  font-size: 16px;
  font-weight: 500;
}
.select__menu-text_up {
  text-transform: uppercase;
}

.select__button {
  margin-right: 12px;
  padding: 12px 28px;
  background-color: #EC1C24;
  color: #FFF;
  border: none;
  grid-area: button;
}
.select__button:hover {
  background-color: #DD1A21;
}
@media screen and (max-width: 984px) {
  .select__button {
    margin: 12px auto;
    width: 252px;
  }
}

.last-minute {
  padding-left: 24px;
  padding-right: 24px;
  height: 814px;
  padding-bottom: 140px;
}
@media screen and (max-width: 1440px) {
  .last-minute {
    height: auto;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 576px) {
  .last-minute {
    padding-bottom: 80px;
    padding-left: 14px;
    padding-right: 14px;
  }
}

.last-minute__top {
  margin: 134px auto 0;
  max-width: 1116px;
}
@media screen and (max-width: 1440px) {
  .last-minute__top {
    margin: 91px auto 0;
  }
}

.last-minute__header {
  position: relative;
}
.last-minute__header::after {
  content: "Tours";
  position: absolute;
  top: 50px;
  left: -140px;
  color: #D4D4D4;
  font-family: Millanova;
  font-size: 52px;
  font-weight: 400;
  text-transform: none;
  z-index: 5;
}
@media screen and (max-width: 1440px) {
  .last-minute__header::after {
    top: -20px;
    left: 385px;
  }
}
@media screen and (max-width: 576px) {
  .last-minute__header::after {
    top: -64px;
    left: 0px;
    right: 0;
    font-size: 36px;
  }
}

.lastMinute {
  width: 1116px;
  height: 340px;
  margin: 62px auto 52px;
  overflow: visible;
}
@media screen and (max-width: 1440px) {
  .lastMinute {
    margin: 52px auto;
  }
}

.last-minute__left-box {
  position: absolute;
  width: 400px;
  height: 460px;
  left: -415px;
  top: -50px;
  z-index: 5;
  background: #FFF;
}

.last-minute__slide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 256px;
  height: 340px;
  padding: 20px;
  border-radius: 30px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 67.94%, rgba(0, 0, 0, 0.45) 100%);
}
.last-minute__slide::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  width: 256px;
  height: 340px;
  z-index: -1;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.last-minute__slide:hover::before {
  opacity: 1;
}

.last-minute__slide1 {
  background-image: url(./../img/slider_one/venecia.jpg);
}

.last-minute__slide2 {
  background-image: url(./../img/slider_one/turok.jpg);
}

.last-minute__slide3 {
  background-image: url(./../img/slider_one/italia_rim.jpg);
}

.last-minute__slide4 {
  background-image: url(./../img/slider_one/dubai.jpg);
}

.last-minute__slide5 {
  background-image: url(./../img/slider_one/florencia.jpg);
}

.last-minute__slide6 {
  background-image: url(./../img/slider_one/venecia.jpg);
}

.last-minute__slide7 {
  background-image: url(./../img/slider_one/turok.jpg);
}

.last-minute__slide8 {
  background-image: url(./../img/slider_one/italia_rim.jpg);
}

.last-minute__slide9 {
  background-image: url(./../img/slider_one/dubai.jpg);
}

.last-minute__slide10 {
  background-image: url(./../img/slider_one/italia_rim1.jpg);
}

.last-minute__slide-top {
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
}

.last-minute__slide-text {
  padding: 3px 10px;
  color: #FFF;
  font-size: 14px;
  font-weight: 300;
  border-radius: 30px;
  border: 1px solid #FFF;
}

.last-minute__slide-bottom {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.last-minute__slide-title {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.last-minute__slide-date {
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
}

.last-minute__slide-info {
  margin-right: 12px;
  color: #FFF;
  font-size: 14px;
  font-weight: 300;
}

.last-minute__slide-line {
  vertical-align: middle;
  margin-left: 10px;
}

.last-minute__pagination-box {
  position: relative;
  margin: 50px auto 0;
  padding-right: 24px;
  max-width: 1116px;
}

.last-minute__button-next,
.last-minute__button-prev {
  opacity: 0;
  top: -225px;
  border-radius: 32px;
  width: 44px;
  height: 44px;
  background: #FFF;
  --swiper-theme-color: #1C1C1C;
  --swiper-navigation-size: 14px;
  filter: drop-shadow(0px 4px 20px rgba(43, 43, 51, 0.2));
  transition: opacity 0.8s ease-in-out, background 0.3s ease-in-out;
}
.last-minute__button-next:hover,
.last-minute__button-prev:hover {
  background: #F8F8F8;
}

@media screen and (max-width: 576px) {
  .last-minute__button-next {
    right: 0;
  }
}

@media screen and (max-width: 576px) {
  .last-minute__button-prev {
    left: 0;
  }
}

.swiper-pagination-horizontal {
  --swiper-pagination-progressbar-size: 2px;
}

.last-minute__pagination {
  --swiper-theme-color: #1C1C1C;
  background-color: #D4D4D4;
}

.hotels {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 140px;
  background-color: #F8F8F8;
}
@media screen and (max-width: 1440px) {
  .hotels {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 576px) {
  .hotels {
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 0px;
  }
}

.hotels__top {
  margin: 169px auto 0;
  text-align: center;
}
@media screen and (max-width: 1440px) {
  .hotels__top {
    margin: 139px auto 0;
  }
}
@media screen and (max-width: 576px) {
  .hotels__top {
    margin-top: 80px;
  }
}

.hotels__header {
  position: relative;
}
.hotels__header::after {
  content: "Hotels";
  position: absolute;
  top: -90px;
  left: 0px;
  right: 0px;
  color: #D4D4D4;
  font-family: Millanova;
  font-size: 42px;
  font-weight: 400;
  text-transform: none;
  z-index: 5;
}
@media screen and (max-width: 576px) {
  .hotels__header::after {
    top: -70px;
    font-size: 30px;
  }
}

.hotelSwiper {
  padding: 82px 0px;
  width: 100%;
}
@media screen and (max-width: 576px) {
  .hotelSwiper {
    display: none;
  }
}

.hotels-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 53px 30px 35px;
  width: 460px;
  height: 340px;
  background: #FFF;
  background-repeat: no-repeat;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease-in;
}

.hotels-slide + .swiper-slide-active {
  scale: 1.18;
}

.hotels__slide-text, .hotels__item-text {
  position: relative;
  color: #FFF;
  text-align: right;
  font-family: Chandra;
  font-size: 65px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
}
.hotels__slide-text::before, .hotels__item-text::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  top: -5px;
  right: -24px;
  background-image: url(./../img/slider_two/star.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.hotels__slide-bottom, .hotels__item-bottom {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.hotels__slide-title, .hotels__item-title {
  color: #FFF;
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
}

.hotels__slide-info, .hotels__item-info {
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  font-weight: 300;
}

.hotels__slide-line, .hotels__item-line {
  vertical-align: middle;
  margin-left: 10px;
}

.hotels__slide1 {
  background-image: url(./../img/slider_two/1.jpg);
}

.hotels__slide2 {
  background-image: url(./../img/slider_two/2.jpg);
}

.hotels__slide3 {
  background-image: url(./../img/slider_two/3.jpg);
}

.hotels__slide4 {
  background-image: url(./../img/slider_two/4.jpg);
}

.hotels__slide5 {
  background-image: url(./../img/slider_two/1.jpg);
}

.hotels__slide6 {
  background-image: url(./../img/slider_two/2.jpg);
}

.hotels__slide7 {
  background-image: url(./../img/slider_two/3.jpg);
}

.hotels__slide8 {
  background-image: url(./../img/slider_two/4.jpg);
}

.hotels__slide9 {
  background-image: url(./../img/slider_two/1.jpg);
}

.hotels__slide10 {
  background-image: url(./../img/slider_two/2.jpg);
}

.hotels__slide11 {
  background-image: url(./../img/slider_two/3.jpg);
}

.hotels__slide12 {
  background-image: url(./../img/slider_two/4.jpg);
}

.hotels__pagination-box {
  position: relative;
  margin: 0px auto;
  padding-right: 24px;
  max-width: 1116px;
}
@media screen and (max-width: 576px) {
  .hotels__pagination-box {
    display: none;
  }
}

.hotels__button-next,
.hotels__button-prev {
  opacity: 0;
  top: -260px;
  border-radius: 32px;
  width: 44px;
  height: 44px;
  background: #FFF;
  --swiper-theme-color: #1C1C1C;
  --swiper-navigation-size: 14px;
  filter: drop-shadow(0px 4px 20px rgba(43, 43, 51, 0.2));
  transition: opacity 0.8s ease-in-out, background 0.3s ease-in-out;
}
.hotels__button-next:hover,
.hotels__button-prev:hover {
  background: #F8F8F8;
}

.hotels__pagination {
  --swiper-theme-color: #1C1C1C;
  background-color: #D4D4D4;
}

.hotels-items {
  padding-top: 28px;
}

.hotels-items {
  display: none;
}
@media screen and (max-width: 576px) {
  .hotels-items {
    display: block;
  }
}

.hotels-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 31px 40px 31px 35px;
  max-width: 576px;
  height: 221px;
  background: #F8F8F8;
  background-repeat: no-repeat;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
  margin-bottom: 12px;
}

.hotels-items-in {
  display: none;
}

.items__show {
  display: block;
}

.hotels-item1 {
  background-image: url(./../img/slider_two/1.jpg);
}

.hotels-item2 {
  background-image: url(./../img/slider_two/2.jpg);
}

.hotels-item3 {
  background-image: url(./../img/slider_two/3.jpg);
}

.hotels-item4 {
  background-image: url(./../img/slider_two/4.jpg);
}

.hotels-item5 {
  background-image: url(./../img/slider_two/1.jpg);
}

.hotels-item6 {
  background-image: url(./../img/slider_two/2.jpg);
}

.hotels__item-text {
  font-size: 48px;
}

.hotels__item-title {
  font-size: 20px;
}

.hotels__button {
  display: none;
  margin: 32px auto 80px;
}
@media screen and (max-width: 576px) {
  .hotels__button {
    display: block;
  }
}

.option {
  padding-left: 24px;
  padding-right: 24px;
  background-image: url(./../img/valeria.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 605px;
}
@media screen and (max-width: 984px) {
  .option {
    height: 469px;
  }
}
@media screen and (max-width: 576px) {
  .option {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.option__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1120px;
  margin: 450px auto 20px;
  padding-left: 64px;
  padding-right: 64px;
  height: 133px;
  border-radius: 30px;
  background: #FFF;
}
@media screen and (max-width: 984px) {
  .option__content {
    flex-direction: column;
    row-gap: 14px;
    max-width: 470px;
    height: auto;
    padding: 52px;
    margin: 60px auto 30px;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .option__content {
    width: 300px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.option__title {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}
@media screen and (max-width: 576px) {
  .option__title {
    font-size: 20px;
  }
}

.option__title-italic {
  color: #000;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  text-transform: uppercase;
}
@media screen and (max-width: 576px) {
  .option__title-italic {
    font-size: 20px;
  }
}

.option__text {
  color: #000;
  font-size: 16px;
  font-weight: 300;
}

@media screen and (max-width: 984px) {
  .option__content-form {
    width: 252px;
  }
}
@media screen and (max-width: 576px) {
  .option__content-form {
    width: 100%;
  }
}

.option__form {
  display: flex;
  flex-direction: column;
  width: 144px;
  row-gap: 12px;
}
@media screen and (max-width: 984px) {
  .option__form {
    width: 100%;
  }
}

.option__input {
  color: #1C1C1C;
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 5px;
  border-bottom: 1px solid #848484;
}

.content__button {
  padding: 12px 28px;
  background-color: #EC1C24;
  color: #FFF;
  border: none;
}
.content__button:hover {
  background-color: #DD1A21;
}
@media screen and (max-width: 984px) {
  .content__button {
    margin: 12px auto;
    width: 252px;
  }
}
@media screen and (max-width: 576px) {
  .content__button {
    width: 220px;
  }
}

.comments {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 140px;
}
@media screen and (max-width: 1440px) {
  .comments {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 576px) {
  .comments {
    padding-left: 14px;
    padding-right: 14px;
  }
}

.comments__top {
  margin: 174px auto 0;
  text-align: center;
}

.comments__header {
  position: relative;
}
.comments__header::after {
  content: "Reviews";
  position: absolute;
  top: -90px;
  left: 0px;
  right: 0px;
  color: #D4D4D4;
  font-family: Millanova;
  font-size: 42px;
  font-weight: 400;
  text-transform: none;
  z-index: 5;
}
@media screen and (max-width: 576px) {
  .comments__header::after {
    top: -70px;
    font-size: 30px;
  }
}

.comments__slider-box {
  display: flex;
}

.comment {
  width: 1116px;
  margin-top: 67px;
  margin-bottom: 52px;
  height: 422px;
  overflow: visible;
}
@media screen and (max-width: 576px) {
  .comment {
    width: 806px;
    margin-top: 32px;
    margin-bottom: 32px;
    height: 520px;
  }
}

.comment__left-box {
  position: absolute;
  width: 400px;
  height: 500px;
  left: -415px;
  top: -50px;
  z-index: 5;
  background: #fff;
}

.comment__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 24px 20px;
  border-radius: 30px;
  background: #F8F8F8;
}

.comment__slide-top {
  width: 64px;
  height: 64px;
  margin: 0px auto;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.comment__image1 {
  background-image: url(./../img/slider_three/comment1.png);
  background-size: 130%;
}

.comment__image2 {
  background-image: url(./../img/slider_three/comment2.jpg);
  background-size: 100%;
}

.comment__image3 {
  background-image: url(./../img/slider_three/comment3.jpg);
  background-size: 170%;
  background-position: top -20px center;
}

.comment__image4 {
  background-image: url(./../img/slider_three/comment4.jpg);
  background-size: 110%;
}

.comment__slide-stars {
  display: flex;
  column-gap: 6px;
  margin-top: 14px;
  height: 21px;
}

.comment__slide-client {
  padding-top: 9px;
  padding-bottom: 5px;
  font-family: Roboto, sans-serif;
  color: #6B6B6B;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}

.comment__slide-history {
  padding-top: 0px;
  padding-bottom: 12px;
  font-family: Roboto, sans-serif;
  text-transform: none;
  font-size: 12px;
  font-weight: 300;
  line-height: normal;
}

.comment__slide-text {
  width: 304px;
  padding-bottom: 12px;
  text-align: left;
  color: #1C1C1C;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}
@media screen and (max-width: 576px) {
  .comment__slide-text {
    width: auto;
  }
}

.comment__pagination-box {
  position: relative;
  margin: 0 auto;
  padding-right: 24px;
  max-width: 1116px;
}

.comment__button-next,
.comment__button-prev {
  opacity: 0;
  top: -300px;
  border-radius: 32px;
  width: 44px;
  height: 44px;
  background: #FFF;
  --swiper-theme-color: #1C1C1C;
  --swiper-navigation-size: 14px;
  filter: drop-shadow(0px 4px 20px rgba(43, 43, 51, 0.2));
  transition: opacity 0.8s ease-in-out, background 0.3s ease-in-out;
}
.comment__button-next:hover,
.comment__button-prev:hover {
  background: #F8F8F8;
}

@media screen and (max-width: 576px) {
  .comment__button-next {
    right: 0;
  }
}

@media screen and (max-width: 576px) {
  .comment__button-prev {
    left: 0;
  }
}

.comment__pagination {
  --swiper-theme-color: #1C1C1C;
  background-color: #D4D4D4;
}/*# sourceMappingURL=main.css.map */