@charset "UTF-8";
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/rasfire-personal-use");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Millanova";
  src: url("./../fonts/millanova.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/millanova.eot?#iefix") format("embedded-opentype"), url("../fonts/millanova.woff2") format("woff2"), url("../fonts/millanova.woff") format("woff"), url("../fonts/millanova.ttf") format("truetype"), url("../fonts/millanova.svg#millanova") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Chandra";
  src: url("./../fonts/Chandra.ttf") format("truetype"), url("./../fonts/HELLO-CHANDRA-BF64bcefa81499d.woff") format("woff");
}
body {
  font-family: "Roboto", sans-serif;
  color: #1C1C1C;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}

.mask {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: 0.6s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 50px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(rgba(0, 0, 0, 0) 10%, #f03355) content-box;
  -webkit-mask: repeating-conic-gradient(rgba(0, 0, 0, 0) 0deg, #000 1deg 20deg, rgba(0, 0, 0, 0) 21deg 36deg), radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l4 1s infinite steps(10);
}

@keyframes l4 {
  to {
    transform: rotate(1turn);
  }
}
.hide {
  opacity: 0;
}

.container {
  max-width: 1918px;
  margin: 0 auto;
  overflow-x: hidden;
}

.button {
  padding: 12px 16px 10px;
  border-radius: 30px;
  border: 1px solid #6A6A6A;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  transition: background 0.2s ease-in-out;
}
.button:hover {
  background: #F8F8F8;
}

.box-bottom {
  height: 660px;
  background-color: rgb(206, 206, 206);
}

.header-last {
  color: #1C1C1C;
  font-size: 44px;
  font-weight: 500;
  text-transform: uppercase;
}
@media screen and (max-width: 576px) {
  .header-last {
    font-size: 28px;
    text-align: center;
  }
}

.title-last {
  color: #1C1C1C;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}
@media screen and (max-width: 576px) {
  .title-last {
    font-size: 16px;
    text-align: center;
  }
}

.select {
  height: 995px;
  background: #D9D9D9;
  background: url(./../img/line-vertical.svg) center 530px no-repeat, url(./../img/select_img.jpg) center no-repeat;
  background-size: auto, cover;
}
@media screen and (max-width: 1248px) {
  .select {
    height: 683px;
    background-position: center 375px, center;
    background-size: 16px 68px, cover;
  }
}
@media screen and (max-width: 984px) {
  .select {
    height: 820px;
    background-position: center 320px, center;
    background-size: 16px 50px, cover;
  }
}
@media screen and (max-width: 576px) {
  .select {
    height: 687px;
    background-position: center 200px, center;
    background-size: 16px 50px, cover;
  }
}

.select__header {
  padding-top: 157px;
  color: #FFF;
  text-align: center;
  font-size: 128px;
  font-weight: 800;
  line-height: 135px;
  /* 105.469% */
  text-transform: uppercase;
}
@media screen and (max-width: 1248px) {
  .select__header {
    padding-top: 108px;
    font-size: 92px;
    line-height: 100px;
    /* 108.696% */
  }
}
@media screen and (max-width: 984px) {
  .select__header {
    padding-top: 76px;
    font-size: 71px;
    line-height: normal;
  }
}
@media screen and (max-width: 576px) {
  .select__header {
    padding-top: 56px;
    font-size: 40px;
  }
}

.select__text {
  padding-top: 38px;
  color: #FFF;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
}
@media screen and (max-width: 1248px) {
  .select__text {
    padding-top: 21px;
  }
}
@media screen and (max-width: 984px) {
  .select__text {
    padding-top: 14px;
    font-size: 20px;
  }
}
@media screen and (max-width: 576px) {
  .select__text {
    padding-top: 10px;
    font-size: 16px;
  }
}

.select__menu {
  display: grid;
  grid-template-columns: repeat(3, 154px) 172px 1fr 168px;
  grid-template-areas: "item1 item2 item3 item4 item5 button";
  align-items: center;
  margin-top: 182px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  width: 928px;
  height: 64px;
  border-radius: 30px;
  background-color: #FFF;
  /* тень под меню */
  box-shadow: 0px 4px 20px 0px rgba(43, 43, 51, 0.2);
}
@media screen and (max-width: 1248px) {
  .select__menu {
    margin-top: 156px;
  }
}
@media screen and (max-width: 984px) {
  .select__menu {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "item1 item1" "item2 item2" "item3 item3" "item4 item5" "button button";
    margin-top: 110px;
    padding: 0px 24px 5px;
    width: 470px;
    height: 320px;
  }
}
@media screen and (max-width: 576px) {
  .select__menu {
    width: 300px;
  }
}

.select__menu-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
  border-right: 1px solid #D4D4D4;
  padding-left: 20px;
  cursor: pointer;
}
.select__menu-item_ch {
  border: none;
}
@media screen and (max-width: 984px) {
  .select__menu-item_ch ::before {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;
    width: 1px;
    height: 38px;
    background: #D4D4D4;
  }
}
@media screen and (max-width: 984px) {
  .select__menu-item {
    padding-left: 0px;
    height: 62px;
    border-right: none;
    border-bottom: 1px solid #D4D4D4;
  }
}

.select__item1 {
  grid-area: item1;
}

.select__item2 {
  grid-area: item2;
}

.select__item3 {
  grid-area: item3;
}

.select__item4 {
  grid-area: item4;
}

.select__item5 {
  grid-area: item5;
}
@media screen and (max-width: 984px) {
  .select__item5 {
    padding-left: 20px;
  }
}

.select__menu-title {
  color: #A1A1A1;
  font-size: 12px;
  font-weight: 400;
}
.select__menu-title_up {
  font-size: 16px;
  font-weight: 400;
  line-height: 2.5;
  text-transform: uppercase;
}

.select__menu-text {
  color: #1C1C1C;
  font-size: 16px;
  font-weight: 500;
}
.select__menu-text_up {
  text-transform: uppercase;
}

.select__button {
  margin-right: 12px;
  padding: 12px 28px;
  background-color: #EC1C24;
  color: #FFF;
  border: none;
  grid-area: button;
}
.select__button:hover {
  background-color: #DD1A21;
}
@media screen and (max-width: 984px) {
  .select__button {
    margin: 12px auto;
    width: 252px;
  }
}

.main {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

.variants {
  padding-left: calc(50% - 560px);
  padding-right: calc(50% - 560px);
  overflow-x: hidden;
}
@media screen and (max-width: 1248px) {
  .variants {
    padding-left: calc(50% - 476px);
    padding-right: calc(50% - 456px);
  }
}
@media screen and (max-width: 984px) {
  .variants {
    padding-left: calc(50% - 352px);
    padding-right: calc(50% - 356px);
    overflow-x: hidden;
  }
}

.variants__header {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  color: #1C1C1C;
  font-weight: 600;
}
@media screen and (max-width: 984px) {
  .variants__header {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 14px;
    padding-right: 14px;
  }
}
@media screen and (max-width: 744px) {
  .variants__header {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 576px) {
  .variants__header {
    text-align: left;
    font-size: 18px;
  }
}

.variants__header-link {
  color: #1C1C1C;
  font-size: 16px;
  font-weight: 300;
  text-transform: none;
}

@media screen and (max-width: 984px) {
  .variants__header-link > span {
    display: none;
  }
}

.variants-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 11px;
}
@media screen and (max-width: 984px) {
  .variants-top {
    padding-left: 14px;
    padding-right: 14px;
  }
}
@media screen and (max-width: 744px) {
  .variants-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
  }
}

.variants__select-popup {
  position: absolute;
  width: 261px;
  height: 248px;
  padding: 14px 0px;
  background-color: #FFF;
  border-radius: 30px;
  /* тень под меню */
  box-shadow: 0px 4px 20px 0px rgba(43, 43, 51, 0.2);
  top: 50px;
  display: none;
  z-index: 10;
}
@media screen and (max-width: 744px) {
  .variants__select-popup {
    top: 38px;
  }
}

.var__show {
  display: block;
}

.variants__popup-link {
  color: #1C1C1C;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  line-height: 44px;
}
.variants__popup-link:hover {
  cursor: pointer;
  color: #585858;
}

.variants__popup-line {
  height: 1px;
  width: 261px;
  background: #D4D4D4;
}

.variants__select-title {
  padding-left: 29px;
  color: #1C1C1C;
  font-size: 16px;
  font-weight: 300;
  white-space: nowrap;
  background-image: url("./../img/sort.svg");
  background-position: left center;
  background-size: 22px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 576px) {
  .variants__select-title {
    font-size: 14px;
  }
}

.variants__select-link {
  color: #1C1C1C;
  font-size: 16px;
  font-weight: 400;
}
@media screen and (max-width: 576px) {
  .variants__select-link {
    font-size: 14px;
  }
}

.variants__right {
  display: flex;
  align-items: center;
  gap: 26px;
}
@media screen and (max-width: 744px) {
  .variants__right {
    justify-content: space-between;
    width: 100%;
  }
}

.variants__right-link {
  padding-left: 29px;
  color: #1C1C1C;
  font-size: 16px;
  font-weight: 300;
  white-space: nowrap;
  background-image: url("./../img/global-search.svg");
  background-position: left center;
  background-size: 22px;
  background-repeat: no-repeat;
}

.variants__right-button {
  padding: 10px 28px 10px 56px;
  color: #1C1C1C;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  text-transform: none;
  background-image: url("./../img/setting.svg");
  background-color: #FFF;
  background-position: left 28px center;
  background-size: 22px;
  background-repeat: no-repeat;
  border-radius: 30px;
  border: 1px solid #6A6A6A;
  color: #000;
  transition: background 0.2s ease-in-out;
}
.variants__right-button:hover {
  background-color: #F8F8F8;
}
@media screen and (max-width: 576px) {
  .variants__right-button:hover {
    background-color: white;
  }
}
@media screen and (max-width: 576px) {
  .variants__right-button {
    padding: 10px 0px 10px 26px;
    background-position: left center;
    transition: none;
    border-radius: 0px;
    border: none;
  }
}

.variants__item {
  position: relative;
  display: grid;
  grid-template-columns: 384px 318px 1fr 224px;
  grid-template-rows: 1fr 1fr;
  height: 280px;
  border-radius: 30px;
  border: 1.5px solid #D4D4D4;
  background-position: left center;
  background-size: 384px 280px;
  background-repeat: no-repeat;
  margin-bottom: 28px;
}
@media screen and (max-width: 1248px) {
  .variants__item {
    grid-template-columns: 280px 230px 1fr 224px;
    background-position: left -104px center;
  }
}
@media screen and (max-width: 984px) {
  .variants__item {
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto auto auto auto;
    width: 473px;
    background-size: 472px 280px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background-position: center top;
  }
}
@media screen and (max-width: 576px) {
  .variants__item {
    width: 300px;
    margin-bottom: 22px;
  }
}

.item-image1 {
  background-image: url("./../img/variants/image1.jpg");
}

.item-image2 {
  background-image: url("./../img/variants/image2.jpg");
}

.item-image3 {
  background-image: url("./../img/variants/image3.jpg");
}

.item-image4 {
  background-image: url("./../img/variants/image4.jpg");
}
.item-image4::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url("./../img/variants/fire.png");
  transform: translate(20px, 20px);
  background-repeat: no-repeat;
  background-position: center;
}

.item-image5 {
  background-image: url("./../img/variants/image5.jpg");
}

.item-image6 {
  background-image: url("./../img/variants/image6.jpg");
}

.item-image7 {
  background-image: url("./../img/variants/image7.jpg");
}

.item-image8 {
  background-image: url("./../img/variants/image8.jpg");
}
.item-image8::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url("./../img/variants/fire.png");
  transform: translate(20px, 20px);
  background-repeat: no-repeat;
  background-position: center;
}

.variants__item-image {
  grid-column: 1/2;
  grid-row: 1/3;
}
@media screen and (max-width: 984px) {
  .variants__item-image {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.variants__item-title {
  grid-column: 2/4;
  grid-row: 1/2;
  padding-left: 30px;
  padding-top: 24px;
}
@media screen and (max-width: 984px) {
  .variants__item-title {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-left: 20px;
    padding-top: 20px;
    background: white;
  }
}

.variants__text {
  color: #1C1C1C;
  font-size: 16px;
  font-weight: 300;
}
@media screen and (max-width: 984px) {
  .variants__text {
    font-size: 14px;
  }
}

.variants__text-link {
  color: #1C1C1C;
}
.variants__text-link:hover {
  text-decoration: underline;
}

.header-card {
  padding-left: 0;
}
.header-card:hover {
  color: #585858;
  cursor: default;
}

.variants__comments {
  display: flex;
  padding-top: 23px;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 984px) {
  .variants__comments {
    padding-top: 20px;
  }
}

.variants__comment-number {
  width: 40px;
  padding: 4px 10px 3px;
  border-radius: 30px;
  background: #463998;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
}

.variants__comment-text {
  color: #1C1C1C;
  font-size: 14px;
  font-weight: 300;
}
@media screen and (max-width: 984px) {
  .variants__comment-text {
    padding-top: 0px;
  }
}

.variants__item-left {
  grid-column: 2/3;
  grid-row: 2/3;
  padding-left: 30px;
  padding-top: 56px;
}
@media screen and (max-width: 1248px) {
  .variants__item-left {
    padding-top: 36px;
  }
}
@media screen and (max-width: 984px) {
  .variants__item-left {
    display: flex;
    grid-column: 1/2;
    column-gap: 6px;
    grid-row: 3/4;
    padding-top: 6px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
  }
}
@media screen and (max-width: 576px) {
  .variants__item-left {
    padding-right: 16px;
  }
}

.variants__item-calendar {
  padding: 2px 0px 2px 27px;
  color: #1C1C1C;
  font-size: 14px;
  font-weight: 300;
  background-image: url("./../img/variants/calendar.svg");
  background-position: left center;
  background-size: 22px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1248px) {
  .variants__item-calendar {
    width: 182px;
    background-position: left top;
  }
}
@media screen and (max-width: 576px) {
  .variants__item-calendar {
    width: 150px;
  }
}

.variants__item-saloon {
  padding: 14px 0px 14px 27px;
  background-image: url("./../img/variants/Frame.svg");
  background-position: left center;
  background-size: 22px;
  background-repeat: no-repeat;
  color: #1C1C1C;
  font-size: 14px;
  font-weight: 300;
}
@media screen and (max-width: 984px) {
  .variants__item-saloon {
    padding: 0px 0px 14px 27px;
    background-position: left 2px top;
  }
}

.variants__item-right {
  grid-column: 3/4;
  grid-row: 2/3;
}
@media screen and (max-width: 984px) {
  .variants__item-right {
    grid-column: 1/2;
    grid-row: 4/5;
    padding-top: 20px;
    padding-left: 20px;
  }
}

.variants__item-info {
  padding-left: 25px;
  color: #1C1C1C;
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 13px;
  background-image: url("./../img/variants/Check.svg");
  background-position: left top;
  background-size: 18px;
  background-repeat: no-repeat;
}

.variants__item-year {
  padding-top: 24px;
  padding-right: 28px;
  grid-column: 4/5;
  grid-row: 1/3;
  text-align: right;
}
@media screen and (max-width: 984px) {
  .variants__item-year {
    grid-column: 1/2;
    grid-row: 5/6;
    padding-right: 0px;
    padding-top: 10px;
  }
}

.variants__year-link {
  position: absolute;
  white-space: nowrap;
  top: 22px;
  right: 28px;
  padding: 4px 18px;
  color: #585858;
  font-size: 14px;
  font-weight: 300;
  border-radius: 30px;
  border: 1.5px solid #D4D4D4;
  background-color: #FFF;
}
@media screen and (max-width: 984px) {
  .variants__year-link {
    top: 16px;
    right: 16px;
  }
}
.variants__year-link:hover {
  background-color: #F8F8F8;
}

.variants__item-detailed {
  padding-top: 142px;
  text-align: right;
}
@media screen and (max-width: 984px) {
  .variants__item-detailed {
    position: relative;
    padding-top: 0px;
    text-align: center;
  }
}

.variants__item-price {
  color: #1C1C1C;
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 16px;
}
@media screen and (max-width: 984px) {
  .variants__item-price {
    padding-top: 16px;
  }
}

.variants__item-price > span {
  color: #1C1C1C;
  font-size: 24px;
  font-weight: 600;
}

.variants__button {
  padding: 12px 34px;
  background-color: #EC1C24;
  color: #FFF;
  border: none;
  grid-area: button;
}
@media screen and (max-width: 984px) {
  .variants__button {
    display: none;
  }
}
.variants__button:hover {
  background-color: #DD1A21;
}

.variants__line {
  width: 232px;
  height: 1px;
  background: #D4D4D4;
  transform-origin: top left;
  transform: rotate(-90deg);
}
@media screen and (max-width: 984px) {
  .variants__line {
    position: absolute;
    transform: rotate(0deg);
    width: 400px;
    top: -4px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
@media screen and (max-width: 576px) {
  .variants__line {
    width: 250px;
  }
}

.myVariants {
  padding-bottom: 90px;
}
@media screen and (max-width: 1248px) {
  .myVariants {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 576px) {
  .myVariants {
    padding-bottom: 80px;
  }
}

.swiper-bottom-line {
  margin-top: 36px;
  height: 1px;
  max-width: 1120px;
  background: #D4D4D4;
}

.variants__button-prev,
.variants__button-next {
  border-radius: 32px;
  width: 32px;
  height: 32px;
  background: #FFF;
  --swiper-theme-color: #1C1C1C;
  --swiper-navigation-size: 14px;
  opacity: 0;
  filter: drop-shadow(0px 4px 20px rgba(43, 43, 51, 0.2));
  transition: opacity 0.8s ease-in-out, background 0.3s ease-in-out;
}
@media screen and (max-width: 984px) {
  .variants__button-prev,
  .variants__button-next {
    display: none;
  }
}
.variants__button-prev:hover,
.variants__button-next:hover {
  background: #F8F8F8;
}

.variants__button-prev {
  top: 440px;
  left: 30px;
}
@media screen and (max-width: 1248px) {
  .variants__button-prev {
    left: 20px;
  }
}

.variants__button-next {
  top: 440px;
  left: 325px;
}
@media screen and (max-width: 1248px) {
  .variants__button-next {
    left: 230px;
  }
}

.swiper-bottom-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
  margin: 18px auto 0;
}

.swiper__button {
  width: 32px;
  height: 32px;
  background-color: #FFF;
  border-radius: 15px;
  border: 1px solid #D4D4D4;
  background-image: url(./../img/arrow-right.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}
.swiper__button:hover {
  background-color: #F8F8F8;
  cursor: pointer;
}

.swiper-pagination {
  position: static;
  width: 55px;
  color: #FFF;
}

.swiper-pagination-current {
  color: #1C1C1C;
}

.swiper-pagination-current::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 24px;
  left: 2px;
  bottom: -2px;
  border-radius: 30px;
  border: 1px solid #D4D4D4;
  background-position: center;
  z-index: 10;
}

.swiper-pagination-current::after {
  content: " из 140";
  position: absolute;
  left: 33px;
  height: 24px;
  width: 70px;
  background-color: #FFF;
  color: #585858;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.swiper-pagination-total {
  display: none;
}

.header-maps {
  max-width: 1920px;
  margin: 0 auto;
}
@media screen and (max-width: 984px) {
  .header-maps {
    overflow: hidden;
  }
}

.header-maps__top {
  padding-top: 60px;
  padding-right: 50px;
  padding-left: 50px;
  max-width: 1190px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1248px) {
  .header-maps__top {
    padding-top: 40px;
  }
}
@media screen and (max-width: 984px) {
  .header-maps__top {
    max-width: 576px;
  }
}
@media screen and (max-width: 576px) {
  .header-maps__top {
    padding-top: 32px;
    width: 300px;
    padding-right: 0px;
    padding-left: 0px;
    overflow-x: hidden;
  }
}

.header-maps__link {
  padding-left: 45%;
}
@media screen and (max-width: 984px) {
  .header-maps__link {
    padding-left: 0;
  }
}

@media screen and (max-width: 984px) {
  .header-last-maps {
    font-size: 28px;
  }
}

.header-maps__out {
  background-image: url(./../img/out.svg);
  top: 18px;
  right: 18px;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-size: 26px;
}
.header-maps__out:hover {
  cursor: pointer;
}

.maps-select__box {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1136px;
}
@media screen and (max-width: 1248px) {
  .maps-select__box {
    position: relative;
    width: 928px;
  }
}
@media screen and (max-width: 984px) {
  .maps-select__box {
    width: 300px;
  }
}

.select__menu-maps {
  margin-top: 36px;
  margin-bottom: 40px;
}
@media screen and (max-width: 1248px) {
  .select__menu-maps {
    margin-top: 19px;
    margin-bottom: 19px;
  }
}
@media screen and (max-width: 984px) {
  .select__menu-maps {
    display: flex;
    width: 300px;
    justify-content: space-between;
    padding: 0px 5px 0px 24px;
    height: auto;
  }
}
@media screen and (max-width: 576px) {
  .select__menu-maps {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 984px) {
  .header-maps__menu-title {
    line-height: normal;
  }
}

@media screen and (max-width: 984px) {
  .maps__button-text {
    display: none;
  }
}

@media screen and (max-width: 984px) {
  .select__menu-hidden {
    display: none;
  }
}

@media screen and (max-width: 984px) {
  .select__menu-item {
    border: none;
    height: 50px;
  }
}

@media screen and (max-width: 984px) {
  .maps__button {
    margin: 0;
    width: 40px;
    height: 40px;
    padding: 0;
  }
}

@media screen and (max-width: 1248px) {
  .maps__filters-button {
    position: absolute;
    width: auto;
    top: 125px;
    right: 0px;
  }
}
@media screen and (max-width: 984px) {
  .maps__filters-button {
    top: -40px;
    right: 73px;
  }
}

@media screen and (max-width: 984px) {
  .maps__top-button {
    padding: 10px 0px 10px 26px;
    background-position: left center;
    transition: none;
    border-radius: 0px;
    border: none;
  }
  .maps__top-button:hover {
    background-color: #FFF;
  }
}

.maps-image {
  max-width: 1920px;
  margin: 0 auto;
  height: 829px;
  background-image: url(./../img/maps/map.jpg);
  background-position: top;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1248px) {
  .maps-image {
    height: 572px;
  }
}
@media screen and (max-width: 744px) {
  .maps-image {
    overflow: hidden;
    background-position: top left -600px;
  }
}
@media screen and (max-width: 576px) {
  .maps-image {
    max-width: 360px;
    height: 500px;
    background-image: url(./../img/maps/map_mobile.jpg);
    background-position: top left;
  }
}

.maps__radio-group {
  position: relative;
  width: 714px;
  height: 829px;
  margin: 0 auto;
}
@media screen and (max-width: 1248px) {
  .maps__radio-group {
    height: 572px;
  }
}
@media screen and (max-width: 576px) {
  .maps__radio-group {
    height: 500px;
    width: 360px;
  }
}

.maps__label {
  cursor: default;
}

.maps__stock-radio {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.maps__radio-fake {
  position: absolute;
  color: #1C1C1C;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
.maps__radio-fake::after {
  position: absolute;
  content: "";
  top: 27px;
  left: 33px;
  white-space: nowrap;
  color: #1C1C1C;
}

.maps__radio-image {
  filter: drop-shadow(0px 4px 20px rgba(43, 43, 51, 0.2));
}

.maps-85 {
  top: 42px;
  left: 290px;
}
.maps-85::after {
  content: "85 000 ₽";
}
@media screen and (max-width: 576px) {
  .maps-85 {
    top: 55px;
    left: 115px;
  }
}

.maps-80 {
  top: 125px;
  left: 340px;
}
.maps-80::after {
  content: "80 000 ₽";
}
@media screen and (max-width: 576px) {
  .maps-80 {
    top: 140px;
    left: 150px;
  }
}

.maps-68 {
  top: 200px;
  left: 460px;
}
.maps-68::after {
  content: "68 000 ₽";
}
@media screen and (max-width: 576px) {
  .maps-68 {
    top: 183px;
    left: 212px;
  }
}

.maps-45 {
  top: 100px;
  left: 0px;
}
.maps-45::after {
  content: "45 000 ₽";
}
@media screen and (max-width: 576px) {
  .maps-45 {
    top: 132px;
    left: 0px;
  }
}

.maps-40 {
  top: 490px;
  left: 340px;
}
.maps-40::after {
  content: "40 000 ₽";
}
@media screen and (max-width: 576px) {
  .maps-40 {
    top: 315px;
    left: 150px;
  }
}

.maps-90 {
  bottom: 40px;
  left: 530px;
}
.maps-90::after {
  content: "90 000 ₽";
}
@media screen and (max-width: 1248px) {
  .maps-90 {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .maps-90 {
    display: block;
    bottom: 0px;
    left: 236px;
  }
}

.maps__item {
  position: relative;
  display: grid;
  grid-template-columns: 280px 230px 1fr 224px;
  grid-template-rows: 1fr 1fr;
  height: 280px;
  width: 930px;
  border-radius: 30px;
  border: 1.5px solid #D4D4D4;
  background-position: left -104px center;
  background-color: #FFF;
  background-size: 384px 280px;
  background-repeat: no-repeat;
  z-index: 5;
  /* тень под меню */
  box-shadow: 0px 4px 20px 0px rgba(43, 43, 51, 0.2);
}
@media screen and (max-width: 984px) {
  .maps__item {
    grid-template-columns: 104px 1fr;
    grid-template-rows: 1fr 1fr;
    width: 300px;
    height: 109px;
    border-radius: 20px;
    background-size: 104px 109px;
    background-position: left top;
  }
}

.checked .maps__item-image1,
.checked .maps__item-image2,
.checked .maps__item-image3,
.checked .maps__item-image4,
.checked .maps__item-image5,
.checked .maps__item-image6 {
  display: none;
}

.checked input[type=radio]:checked ~ .maps__item-image1 {
  display: grid;
  top: 105px;
  left: -160px;
}
@media screen and (max-width: 1248px) {
  .checked input[type=radio]:checked ~ .maps__item-image1 {
    top: 270px;
    left: -110px;
  }
}
@media screen and (max-width: 984px) {
  .checked input[type=radio]:checked ~ .maps__item-image1 {
    top: 106px;
    left: 190px;
  }
}

.checked input[type=radio]:checked ~ .maps__item-image2 {
  display: grid;
  top: 162px;
  left: -340px;
}
@media screen and (max-width: 1248px) {
  .checked input[type=radio]:checked ~ .maps__item-image2 {
    top: 270px;
    left: -110px;
  }
}
@media screen and (max-width: 984px) {
  .checked input[type=radio]:checked ~ .maps__item-image2 {
    top: 162px;
    left: -10px;
  }
}

.checked input[type=radio]:checked ~ .maps__item-image3 {
  display: grid;
  top: 188px;
  left: -82px;
}
@media screen and (max-width: 1248px) {
  .checked input[type=radio]:checked ~ .maps__item-image3 {
    top: 270px;
    left: -110px;
  }
}
@media screen and (max-width: 984px) {
  .checked input[type=radio]:checked ~ .maps__item-image3 {
    top: 187px;
    left: 264px;
  }
}

.checked input[type=radio]:checked ~ .maps__item-image4 {
  display: grid;
  top: 263px;
  left: 0px;
}
@media screen and (max-width: 1248px) {
  .checked input[type=radio]:checked ~ .maps__item-image4 {
    top: 270px;
    left: -110px;
  }
}
@media screen and (max-width: 984px) {
  .checked input[type=radio]:checked ~ .maps__item-image4 {
    top: 264px;
    left: 272px;
  }
}

.checked input[type=radio]:checked ~ .maps__item-image5 {
  display: grid;
  top: 550px;
  left: -82px;
}
@media screen and (max-width: 1248px) {
  .checked input[type=radio]:checked ~ .maps__item-image5 {
    top: 270px;
    left: -110px;
  }
}
@media screen and (max-width: 984px) {
  .checked input[type=radio]:checked ~ .maps__item-image5 {
    top: 393px;
    left: 237px;
  }
}

.checked input[type=radio]:checked ~ .maps__item-image6 {
  display: grid;
  top: 434px;
  left: 50px;
}
@media screen and (max-width: 1248px) {
  .checked input[type=radio]:checked ~ .maps__item-image6 {
    display: none;
  }
}
@media screen and (max-width: 984px) {
  .checked input[type=radio]:checked ~ .maps__item-image6 {
    display: grid;
    top: 162px;
    left: -340px;
  }
}

@media screen and (max-width: 576px) {
  .checked input[type=radio]:checked ~ .maps__item-image1,
  .checked input[type=radio]:checked ~ .maps__item-image2,
  .checked input[type=radio]:checked ~ .maps__item-image3,
  .checked input[type=radio]:checked ~ .maps__item-image4,
  .checked input[type=radio]:checked ~ .maps__item-image5,
  .checked input[type=radio]:checked ~ .maps__item-image6 {
    top: 375px;
    left: 9px;
  }
}

.maps__item-image1 {
  background-image: url("./../img/variants/image1.jpg");
}

.maps__item-image2 {
  background-image: url("./../img/variants/image2.jpg");
}

.maps__item-image3 {
  background-image: url("./../img/variants/image3.jpg");
}

.maps__item-image4 {
  background-image: url("./../img/variants/image4.jpg");
}

.maps__item-image5 {
  background-image: url("./../img/variants/image5.jpg");
}

.maps__item-image6 {
  background-image: url("./../img/variants/image6.jpg");
}

.maps__item-image {
  grid-column: 1/2;
  grid-row: 1/3;
}

.maps__item-title {
  grid-column: 2/4;
  grid-row: 1/2;
  padding-left: 30px;
  padding-top: 24px;
}
@media screen and (max-width: 984px) {
  .maps__item-title {
    grid-column: 2/3;
    grid-row: 1/2;
    padding-left: 12px;
    padding-top: 12px;
  }
}

.maps__text {
  color: #1C1C1C;
  font-size: 16px;
  font-weight: 300;
}
@media screen and (max-width: 984px) {
  .maps__text {
    font-size: 12px;
  }
}

.maps__header {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #1C1C1C;
  font-size: 20px;
  font-weight: 600;
}
@media screen and (max-width: 984px) {
  .maps__header {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 14px;
    padding-left: 14px;
    padding-right: 14px;
  }
}

.maps__item-title > img {
  width: 10px;
  height: 10px;
}

.maps__text-link {
  color: #1C1C1C;
}
.maps__text-link:hover {
  text-decoration: underline;
}

.header-card {
  padding-left: 0;
}
.header-card:hover {
  color: #585858;
  cursor: default;
}

.maps__comments {
  display: flex;
  padding-top: 23px;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 984px) {
  .maps__comments {
    display: none;
  }
}

.maps__comment-number {
  width: 40px;
  padding: 4px 10px 3px;
  border-radius: 30px;
  background: #463998;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
}

.maps__comment-text {
  color: #1C1C1C;
  font-size: 14px;
  font-weight: 300;
}

.maps__item-left {
  grid-column: 2/3;
  grid-row: 2/3;
  padding-left: 30px;
  padding-top: 36px;
}
@media screen and (max-width: 984px) {
  .maps__item-left {
    display: none;
  }
}

.maps__item-calendar {
  width: 182px;
  padding: 2px 0px 2px 27px;
  color: #1C1C1C;
  font-size: 14px;
  font-weight: 300;
  background-image: url("./../img/variants/calendar.svg");
  background-position: left top;
  background-size: 22px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 576px) {
  .maps__item-calendar {
    width: 150px;
  }
}

.maps__item-saloon {
  padding: 14px 0px 14px 27px;
  background-image: url("./../img/variants/Frame.svg");
  background-position: left center;
  background-size: 22px;
  background-repeat: no-repeat;
  color: #1C1C1C;
  font-size: 14px;
  font-weight: 300;
}

.maps__item-right {
  grid-column: 3/4;
  grid-row: 2/3;
}
@media screen and (max-width: 984px) {
  .maps__item-right {
    display: none;
  }
}

.maps__item-info {
  padding-left: 25px;
  color: #1C1C1C;
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 13px;
  background-image: url("./../img/variants/Check.svg");
  background-position: left top;
  background-size: 18px;
  background-repeat: no-repeat;
}

.maps__item-year {
  padding-top: 24px;
  padding-right: 28px;
  grid-column: 4/5;
  grid-row: 1/3;
  text-align: right;
}
@media screen and (max-width: 984px) {
  .maps__item-year {
    grid-column: 2/3;
    grid-row: 2/3;
    padding-right: 0px;
    padding-top: 10px;
  }
}

.maps__year-link {
  position: absolute;
  white-space: nowrap;
  top: 22px;
  right: 28px;
  padding: 4px 18px;
  color: #585858;
  font-size: 14px;
  font-weight: 300;
  border-radius: 30px;
  border: 1.5px solid #D4D4D4;
  background-color: #FFF;
}
@media screen and (max-width: 984px) {
  .maps__year-link {
    display: none;
  }
}
.maps__year-link:hover {
  background-color: #F8F8F8;
}

.maps__item-detailed {
  padding-top: 142px;
  text-align: right;
}
@media screen and (max-width: 984px) {
  .maps__item-detailed {
    position: relative;
    padding-top: 0px;
    text-align: left;
    padding-left: 12px;
  }
}

.maps__item-price {
  color: #1C1C1C;
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 16px;
}

.maps__item-price > span {
  color: #1C1C1C;
  font-size: 24px;
  font-weight: 600;
}
@media screen and (max-width: 984px) {
  .maps__item-price > span {
    font-size: 18px;
  }
}

.maps__card-button {
  padding: 12px 34px;
  background-color: #EC1C24;
  color: #FFF;
  border: none;
  grid-area: button;
}
@media screen and (max-width: 984px) {
  .maps__card-button {
    display: none;
  }
}
.maps__card-button:hover {
  background-color: #DD1A21;
}

.maps__line {
  width: 232px;
  height: 1px;
  background: #D4D4D4;
  transform-origin: top left;
  transform: rotate(-90deg);
}
@media screen and (max-width: 984px) {
  .maps__line {
    display: none;
  }
}/*# sourceMappingURL=maps.css.map */