.footer {
    margin-top: 48px;
    background-image: url(./../img/willian2.jpg);

    @include mediaDesktopTab {
        margin-top: 38px;
    }

    @include mediaMobile {
        margin-top: 28px;
        padding-left: 0px;
        padding-right: 0px;
    }
}








