.top-before {
    height: 568px;

    @include mediaDesktopTab {
        height: 568px; 
    }

    @include mediaTablet {
        height: 690px; 
    }

    @include mediaMobile {
        height: 760px;
    }
}
