.top-before {
    position: absolute;
    display: none;
    height: 568px;
    top: 0px;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.30);
    z-index: 5;
    

    opacity:0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 0.3s; /*Скорость перехода состояния элемента*/
    animation: show 0.8s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    animation-delay: 0.42; /* Задержка перед началом */

    @include mediaTablet {
        height: 653px; 
    }

    @include mediaMobile {
        height: 760px;
    }
}

.bgd__show {
    display: block; 
    @keyframes show{
        0%{
        opacity:0;
        }
        100% {
        opacity:1;
        }
        }
}


.application{
    position: absolute;
    display: none;
    flex-direction: column;
    text-align: center;
    padding: 52px 40px;
    top: 180px;
    width: 300px;
    height: 366px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 30px;
    background: $white;
}

.app__show {
  display: flex;
}
.application__out {
    position: absolute;
    background-image: url(./../img/out.svg);
    top:18px;
    right: 18px;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-size: 26px;

    &:hover {
        cursor: pointer;
    }
}

.application__title {
    color: $black;
font-size: 24px;
font-weight: 400;
text-transform: uppercase;

@include mediaMobile {
    font-size: 20px; 
}
}
.application__title-italic {
    color: $black;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    text-transform: uppercase; 

    @include mediaMobile {
        font-size: 20px; 
    }
}
.application__content-text {
    padding-top: 14px;
    padding-bottom: 14px; 
}

.application__text {
    color: $black;
    font-size: 16px;
    font-weight: 300;
}
.application__form {
    display: flex;
    flex-direction: column;
        row-gap: 24px;
}
.application__form-left {
    display: flex;
    flex-direction: column;
    width: 220px; 
}
.application__input {
    height: 20px;
color: $black-1;
font-size: 12px;
font-weight: 400;
}
.application__line {
    height: 1px;
    background:  #848484; 
    margin-bottom: 9px;
}

.button__application {
    padding: 11px 28px;
    background-color: $red;
    font-size: 16px;
    color: $white;
    border: none;
    
    &:hover {
        background-color: $red-hov;
    }
}