.main {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
}
.variants {
    padding-left: calc(50% - 560px);
    padding-right: calc(50% - 560px);
    overflow-x: hidden;
    
    @include mediaDesktopTab {
        padding-left: calc(50% - 476px);
        padding-right: calc(50% - 456px);
    }

    @include mediaTablet {
        padding-left: calc(50% - 352px);
        padding-right: calc(50% - 356px);
        overflow-x: hidden;
    }

}

.variants__header {
    padding-top: 5px;
    padding-bottom: 5px;
    color: $black-1;
    font-weight: 600;

    @include mediaTablet {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 14px;
        padding-right: 14px;

    }

    @include mediaTabletMob {
        padding-left: 10px;
        padding-right: 10px;

    }

    @include mediaMobile {
        text-align: left;
    }
}


.variants__header-link {
    color: $black-1;
    font-size: 16px;
    font-weight: 300;
    text-transform: none;

}

.variants__header-link>span {

    @include mediaTablet {
        display: none;
    }
}

.variants-top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 11px;

    @include mediaTablet {
        padding-left: 14px;
        padding-right: 14px;
    }

    @include mediaTabletMob {
        flex-direction: column;
        align-items: flex-start;
        gap: 17px;

    }
}

.variants__select-popup {
    position: absolute;
    width: 261px;
    height: 248px;
    padding: 14px 0px;
    background-color: $white;
    border-radius: 30px;
    /* тень под меню */
    box-shadow: 0px 4px 20px 0px rgba(43, 43, 51, 0.20);
    top: 50px;
    display: none;
    z-index: 10;

    @include mediaTabletMob {
        top: 38px;
    }
}

.var__show {
    display: block;
}

.variants__popup-link {
    color: $black-1;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 400;
    line-height: 44px;

    &:hover {
        cursor: pointer;
        color: $grey;
    }
}

.variants__popup-line {
    height: 1px;
    width: 261px;
    background: $line;
}

.variants__select-title {
    padding-left: 29px;
    color: $black-1;
    font-size: 16px;
    font-weight: 300;
    white-space: nowrap;
    background-image: url('./../img/sort.svg');
    background-position: left center; //x y
    background-size: 22px;
    background-repeat: no-repeat;


    @include mediaMobile {
        font-size: 14px;
    }
}


.variants__select-link {
    color: $black-1;
    font-size: 16px;
    font-weight: 400;

    @include mediaMobile {
        font-size: 14px;
    }
}

.variants__right {
    display: flex;
    align-items: center;
    gap: 26px;

    @include mediaTabletMob {
        justify-content: space-between;
        width: 100%;
    }
}

.variants__right-link {
    padding-left: 29px;
    color: $black-1;
    font-size: 16px;
    font-weight: 300;
    white-space: nowrap;
    background-image: url('./../img/global-search.svg');
    background-position: left center; //x y
    background-size: 22px;
    background-repeat: no-repeat;


}

.variants__right-button {
    padding: 10px 28px 10px 56px;
    color: $black-1;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    text-transform: none;
    background-image: url('./../img/setting.svg');
    background-color: $white;
    background-position: left 28px center; //x y
    background-size: 22px;
    background-repeat: no-repeat;
    border-radius: 30px;
    border: 1px solid #6A6A6A;
    color: #000;
    transition: background 0.2s ease-in-out;

    &:hover {
        background-color: $slide;
        @include mediaMobile {
            background-color: white;  
        }
    }


    @include mediaMobile {
        padding: 10px 0px 10px 26px;
        background-position: left center; //x y
        transition: none;
        border-radius: 0px;
        border: none;
    }
}

//swiper-slider

// .swiper {
//     width: 100%;
//     height: 100%;
//   }

.variants__item {
    position: relative;
    display: grid;
    grid-template-columns: 384px 318px 1fr 224px;
    grid-template-rows: 1fr 1fr;
    height: 280px;
    border-radius: 30px;
    border: 1.5px solid $line;
    background-position: left center; //x y
    background-size: 384px 280px;
    background-repeat: no-repeat;
    margin-bottom: 28px;

    @include mediaDesktopTab {
        grid-template-columns: 280px 230px 1fr 224px;
        background-position: left -104px center; //x y
    }

    @include mediaTablet {
        grid-template-columns: 1fr;
        grid-template-rows: 200px auto auto auto auto;
        width: 473px;
        background-size: 472px 280px;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        background-position: center top; //x y
    }

    @include mediaMobile {
        width: 300px;
        margin-bottom: 22px;
    }


}

.item-image1 {
    background-image: url('./../img/variants/image1.jpg');

}

.item-image2 {
    background-image: url('./../img/variants/image2.jpg');

}

.item-image3 {
    background-image: url('./../img/variants/image3.jpg');
}

.item-image4 {
    background-image: url('./../img/variants/image4.jpg');

    &::before {
        content: "";
        position: absolute;
        width: 32px;
        height: 32px;
        background-image: url('./../img/variants/fire.png');
        transform: translate(20px, 20px); //x y
        background-repeat: no-repeat;
        background-position: center;
    }
}

.item-image5 {
    background-image: url('./../img/variants/image5.jpg');
}

.item-image6 {
    background-image: url('./../img/variants/image6.jpg');
}

.item-image7 {
    background-image: url('./../img/variants/image7.jpg');
}

.item-image8 {
    background-image: url('./../img/variants/image8.jpg');

    &::before {
        content: "";
        position: absolute;
        width: 32px;
        height: 32px;
        background-image: url('./../img/variants/fire.png');
        transform: translate(20px, 20px); //x y
        background-repeat: no-repeat;
        background-position: center;
    }
}

.variants__item-image {
    grid-column: 1/2;
    grid-row: 1/3;

    @include mediaTablet {
        grid-column: 1/2;
        grid-row: 1/2;
    }
}

.variants__item-title {
    grid-column: 2/4;
    grid-row: 1/2;
    padding-left: 30px;
    padding-top: 24px;

    @include mediaTablet {
        grid-column: 1/2;
        grid-row: 2/3;
        padding-left: 20px;
        padding-top: 20px;
        background: white;

    }
}

.variants__text {
    color: $black-1;
    font-size: 16px;
    font-weight: 300;

    @include mediaTablet {
        font-size: 14px;
    }
}

.variants__text-link {
    color: $black-1;

    &:hover {
        text-decoration: underline;
    }
}

.header-card {
    padding-left: 0;

    &:hover {
        color: $grey;
        cursor: default;
    }
}

.variants__comments {
    display: flex;
    padding-top: 23px;
    align-items: center;
    gap: 10px;

    @include mediaTablet {
        padding-top: 20px;

    }

}

.variants__comment-number {
    width: 40px;
    padding: 4px 10px 3px;
    border-radius: 30px;
    background: #463998;
    color: $white;
    font-size: 14px;
    font-weight: 400;

}

.variants__comment-text {
    color: $black-1;
    font-size: 14px;
    font-weight: 300;

    @include mediaTablet {
        padding-top: 0px;

    }

}

.variants__item-left {
    grid-column: 2/3;
    grid-row: 2/3;
    padding-left: 30px;
    padding-top: 56px;

    @include mediaDesktopTab {
        padding-top: 36px;
    }

    @include mediaTablet {
        display: flex;
        grid-column: 1/2;
        column-gap: 6px;
        grid-row: 3/4;
        padding-top: 6px;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: space-between;

    }

    @include mediaMobile {
        padding-right: 16px;

    }
}

.variants__item-calendar {
    padding: 2px 0px 2px 27px;
    color: $black-1;
    font-size: 14px;
    font-weight: 300;
    background-image: url('./../img/variants/calendar.svg');
    background-position: left center; //x y
    background-size: 22px;
    background-repeat: no-repeat;

    @include mediaDesktopTab {
        width: 182px;
        background-position: left top; //x y
    }

    @include mediaMobile {
        width: 150px;
    }

}

.variants__item-saloon {
    padding: 14px 0px 14px 27px;
    background-image: url('./../img/variants/Frame.svg');
    background-position: left center; //x y
    background-size: 22px;
    background-repeat: no-repeat;
    color: $black-1;
    font-size: 14px;
    font-weight: 300;

    @include mediaTablet {
        padding: 0px 0px 14px 27px;
        background-position: left 2px top; //x y
    }
}


.variants__item-right {
    grid-column: 3/4;
    grid-row: 2/3;

    @include mediaTablet {
        grid-column: 1/2;
        grid-row: 4/5;
        padding-top: 20px;
        padding-left: 20px;
    }
}

.variants__item-info {
    padding-left: 25px;
    color: $black-1;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 13px;
    background-image: url('./../img/variants/Check.svg');
    background-position: left top; //x y
    background-size: 18px;
    background-repeat: no-repeat;

}

.variants__item-year {
    padding-top: 24px;
    padding-right: 28px;
    grid-column: 4/5;
    grid-row: 1/3;
    text-align: right;

    @include mediaTablet {
        grid-column: 1/2;
        grid-row: 5/6;
        padding-right: 0px;
        padding-top: 10px;

    }
}

.variants__year-link {
    position: absolute;
    white-space: nowrap;
    top: 22px;
    right: 28px;
    padding: 4px 18px;
    color: $grey;
    font-size: 14px;
    font-weight: 300;
    border-radius: 30px;
    border: 1.5px solid $line;
    background-color: $white;

    @include mediaTablet {
        top: 16px;
        right: 16px;
    }

    &:hover {
        background-color: $slide;
    }



}

.variants__item-detailed {
    padding-top: 142px;
    text-align: right;

    @include mediaTablet {
        position: relative;
        padding-top: 0px;
        text-align: center;

    }
}

.variants__item-price {
    color: $black-1;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 16px;

    @include mediaTablet {
        padding-top: 16px;
    }

}

.variants__item-price>span {
    color: $black-1;
    font-size: 24px;
    font-weight: 600;
}

.variants__button {
    padding: 12px 34px;
    background-color: #EC1C24;
    color: #FFF;
    border: none;
    grid-area: button;

    @include mediaTablet {
        display: none;

    }

    &:hover {
        background-color: $red-hov;
    }
}

.variants__line {
    width: 232px;
    height: 1px;
    background: $line;
    transform-origin: top left;
    transform: rotate(-90deg);

    @include mediaTablet {
        position: absolute;
        transform: rotate(0deg);
        width: 400px;
        top: -4px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    @include mediaMobile {
        width: 250px; 
    }
}

.myVariants {
    padding-bottom: 90px;

    @include mediaDesktopTab {
        padding-bottom: 100px;  
    }

    @include mediaMobile{
        padding-bottom: 80px;  
    }
}

.swiper-bottom-line {
    margin-top: 36px;
    height: 1px;
    max-width: 1120px;
    background: $line;
}

.variants__button-prev,
.variants__button-next {
    border-radius: 32px;
    width: 32px;
    height: 32px;
    background: #FFF;
    --swiper-theme-color: #1C1C1C;
    --swiper-navigation-size: 14px;
    opacity: 0;
    filter: drop-shadow(0px 4px 20px rgba(43, 43, 51, 0.2));
    transition: opacity 0.8s ease-in-out, background 0.3s ease-in-out;

    @include mediaTablet {
        display: none;
    }

    &:hover {
        background: $slide;
    }
}

.variants__button-prev {
    top: 440px;
    left: 30px;


    @include mediaDesktopTab {
        left: 20px;
    }


}

.variants__button-next {
    top: 440px;
    left: 325px;

    @include mediaDesktopTab {
        left: 230px;
    }
}

.swiper-bottom-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;
    margin: 18px auto 0;

}

.swiper__button {
    width: 32px;
    height: 32px;
    background-color: $white;
    border-radius: 15px;
    border: 1px solid $line;
    background-image: url(./../img/arrow-right.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;


    &:hover {
        background-color: $slide;
        cursor: pointer;
    }

}

.swiper-pagination {
    position: static;
    width: 55px;
    color: #FFF;
}

.swiper-pagination-current {
    color: $black-1;
}

.swiper-pagination-current::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 24px;
    left: 2px;
    bottom: -2px;
    border-radius: 30px;
    border: 1px solid $line;
    background-position: center;
    z-index: 10;

}

.swiper-pagination-current::after {
    content: " из 140";
    position: absolute;
    left: 33px;
    height: 24px;
    width: 70px;
    background-color: $white;
    color: $grey;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;


}

.swiper-pagination-total {
    display: none;
}