.section__po-pup {
    position: relative;
    width: 928px;
    margin: 0 auto;

    @include mediaTablet {
        width: 300px;
    }
}

.countries__main {
    position: absolute;
    display: none;
    top: -230px;
    left: 34px;
    width: 384px;
    height: 436px;
    flex-shrink: 0;
    border-radius: 30px;
    background: $white;
    /* тень под меню */
    box-shadow: 0px 4px 20px 0px rgba(43, 43, 51, 0.20);
    z-index: 7;

    @include mediaDesktopTab {
        left: 0px;
    }

    @include mediaTablet {
        height: 496px;
        width: 300px;
        top: -428px;
        left: 0px;
    }

    @include mediaMobile {
        top: -530px;
    }
}

.countries__selection {
    top: -70px;

    @include mediaDesktopTab {
        top: -242px
    }

    @include mediaTablet {
        top: -346px;

    }

    @include mediaMobile {
        top: -518px;

    }
}

.countries__minute-tours {
    top: -70px;

    @include mediaDesktopTab {
        top: -200px
    }

    @include mediaTablet {
        top: -360px;

    }

    @include mediaMobile {
        top: -514px;

    }
}

.countries__maps {
    top: -20px;

    @include mediaDesktopTab {
        top: -100px
    }

    @include mediaTablet {
        top: -72px;

    }

    @include mediaMobile {
        top: -125px;

    }
}


.block__show {
    display: block;
}

.block__color {
    color: $black-1;
    font-weight: 500;
}

.countries-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 356px;
    padding-top: 40px;
    border-bottom: 1px solid $line;


    @include mediaTablet {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 72px 340px;
        height: 414px;
        padding-top: 0px;
    }
}

.countries-top__box {
    display: none;
    grid-column: 1/3;
    align-items: center;
    justify-content: flex-end;
    line-height: normal;
    border-bottom: 1px solid #D4D4D4;

    @include mediaTablet {
        display: flex;

    }
}

.countries__title_min {
    color: $black-1;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

.countries__out {
    margin-right: 20px;
    margin-left: 80px;
    background-image: url(./../img/out.svg);
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-size: 26px;

}

.countries__radio-favorites {
    padding-left: 40px;

    @include mediaTablet {
        grid-column: 1/2;
        grid-row: 2/3;
        padding-left: 20px;

    }
}

.countries__radio-all {
    padding-left: 10px;
    padding-right: 10px;

    @include mediaTablet {
        grid-column: 2/3;
        grid-row: 2/3;
        padding-left: 0px;
        padding-right: 5px;

    }
}

.countries__all-box {
    max-height: 282px;
    width: 100%;
    overflow-y: scroll;

    @include mediaTablet {
        max-height: 294px;
    }
}

.countries__all-box::-webkit-scrollbar {
    width: 4px;
}

.countries__all-box::-webkit-scrollbar-thumb {
    background: $grey-text;
    border-radius: 2px;
}

.countries__title {
    color: $black-1;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 13px;

    @include mediaTablet {
        padding-top: 13px;
    }
}

.countries__label {
    display: flex;
    align-items: center;
    gap: 10px;

}

.countries__stock-radio {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.countries__radio-fake {
    width: 26px;
    height: 26px;
    flex-shrink: 0;
    border-radius: 30px;
    border: 2px solid $line;
    background: $white;
}

.countries__stock-radio:checked+.countries__radio-fake {
    border: none;
    background-image: url(./../img/radio_check.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.countries__header-link {
    color: $black-1;
    font-size: 14px;
    font-weight: 300;
    line-height: 39px;
    /* 278.571% */
}

.countries-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    height: 80px;

    @include mediaTablet {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.countries-reset {
    color: $grey-text;
    font-weight: 500;
    border: none;

    &:hover {
        background: $white;
    }
}

.active__button {
    color: #1C1C1C;
}

.countries-apply {
    width: 144px;
    border-radius: 30px;
    background: $black-1;
    padding: 11px 24px 10px;
    color: #FFF;
    text-align: right;
    font-size: 16px;
    border-color: $black-1;

    &:hover {
        background: $black;
        border-color: $black;
    }
}

.country-page2 {
    top: -70px;

    @include mediaDesktopTab {
        top: -232px;
    }

    @include mediaTablet {
        top: -346px;

    }

    @include mediaMobile {
        top: -490px;

    }

}

.country-page3 {

    top: -70px;

    @include mediaDesktopTab {
        top: -232px;
    }

    @include mediaTablet {
        top: -370px;

    }

    @include mediaMobile {
        top: -490px;

    }

}

.country-maps {
    top: -16px;
    left: -30px;

    @include mediaDesktopTab {
        top: -90px;
        left: 0px;
    }

    @include mediaTablet {
        top: 0px;

    }
}