.calendar__main {
    display: none;
    position: absolute;
    top: -230px;
    left: 200px;
    height: 436px;
    width: 384px;
    padding-top: 50px;
    border-radius: 30px;
    background: $white;
    box-shadow: 0px 4px 20px 0px rgba(43, 43, 51, 0.20);
    z-index: 7;
    animation: shows 0.3s;

    @keyframes shows {
        from {
        opacity: 0;
        }
        to {
        opacity: 1;
        }
        }

    @include mediaTablet {
        padding-top: 0px;
        height: 496px;
        width: 300px;
        top: -428px;
        left: 0px;
    }

    @include mediaMobile {
        top: -530px;
    }

}

.calendar__selection {
    top: -70px;

    @include mediaDesktopTab {
        top: -242px
    }

    @include mediaTablet {
        top: -346px;
    }

    @include mediaMobile {
        top: -518px;

    }

}

.calendar__minute-tours {
    top: -70px;

    @include mediaDesktopTab {
        top: -200px
    }

    @include mediaTablet {
        top: -360px;

    }

    @include mediaMobile {
        top: -514px;

    }
}

.calendar__maps {
    top: -20px;

    @include mediaDesktopTab {
        top: -100px
    }

    @include mediaTablet {
        top: -72px;
    }

    @include mediaMobile {
        top: -125px;

    }

}


.block__show1 {
    display: block;
}

.calendar-top__box {
    display: none;
    align-items: center;
    height: 72px;
    justify-content: flex-end;
    line-height: normal;
    border-bottom: 1px solid #D4D4D4;

    @include mediaTablet {
        display: flex;

    }
}

.calendar__title_min {
    color: $black-1;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

.calendar__out {
    margin-right: 20px;
    margin-left: 80px;
    background-image: url(./../img/out.svg);
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-size: 26px;

}

#calendar {
    height: 286px;
    width: 244px;
    padding: 0;
    margin: 0 auto 20px;

    @include mediaTablet {
        margin: 27px auto;
    }
}

#calendar .vanilla-calendar-arrow {
    width: 32px;
    height: 32px;
    top: -20px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 2px solid $line;

    &:hover {
        background-color: $slide;
    }
}

#calendar .vanilla-calendar-header {
    margin: 0;
}

#calendar .vanilla-calendar-arrow:before {
    width: 20px;
    inset: 5px;
}

#calendar .vanilla-calendar-header__content {
    padding-bottom: 31px;
}

#calendar .vanilla-calendar-month,
#calendar .vanilla-calendar-year {
    color: $black-1;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


#calendar .vanilla-calendar-week__day {
    color: $black-1;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#calendar .vanilla-calendar-day__btn {
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

#calendar .vanilla-calendar-day_selected-intermediate .vanilla-calendar-day__btn_selected, 
#calendar .vanilla-calendar-day_selected-intermediate .vanilla-calendar-day__btn_selected:hover {
    background-color:  #46399886;
}

#calendar .vanilla-calendar-day__btn_selected, 
#calendar .vanilla-calendar-day__btn_selected:hover {
    background-color:  #af8f64;
}
 
.calendar-line {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    width: 100%;
    border-top: 1px solid $line;
}

.calen-reset {
    color: $grey-text;
    font-weight: 500;
    border: none;

    &:hover {
        background: $white;
    }
}

.block__color1 {
    color: $black-1;
    font-weight: 500;
}

.calen-apply {

    width: 144px;
    border-radius: 30px;
    background: $black-1;
    padding: 11px 24px 10px;
    color: #FFF;
    text-align: right;
    font-size: 16px;
    border-color: $black-1;

    &:hover {
        background: $black;
        border-color: $black;
    }

}