.select {
    position: relative;
    height: 482px;
    background: url(./../img/minute-tours/daniela.jpg) center no-repeat;
    background-size: auto 106%;
    background-position: center;
    z-index: 0;

    &::before {
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.22);
        z-index: -1;
    }

    @include mediaTablet {
        height: 608px;
    }

    @include mediaMobile {
        height: 692px; 
    }
}

.select__header {
    padding-top: 82px;
    font-size: 100px;

    @include mediaDesktopTab {
        padding-top: 100px;
        font-size: 80px;
    }

    @include mediaTablet {
        padding-top: 76px;
        font-size: 71px;
        line-height: normal;
    }

    @include mediaMobile {
        margin: 0 auto;
        padding-top: 56px;
        max-width: 270px;
        font-size: 54px;
    }
}

.select__text {
    padding-top: 0px;
  
    @include mediaDesktopTab {
        font-size: 26px;
    }

    @include mediaTablet {
        padding-top: 14px; 
        font-size: 24px;
    }

    @include mediaMobile {
        margin: 0 auto;
        width: 300px;
        font-size: 24px;
        
    }
}

.select__menu {
    margin-top: 47px;
   
    @include mediaDesktopTab {
        margin-top: 60px;
    }

    @include mediaTablet {
        margin-top: 20px;
    }

    @include mediaMobile {
        margin-top: 30px;
    }
}

