
.item-image1,
.item-image2,
.item-image3,
.item-image4,
.item-image5,
.item-image6,
.item-image7,
.item-image8 {
    &::before {
        content: "";
        position: absolute;
        width: 32px;
        height: 32px;
        background-image: url('./../img/variants/fire.png');
        transform: translate(20px, 20px); //x y
        background-repeat: no-repeat;
        background-position: center;
        }
}


.item-image1 {
    background-image: url('./../img/variants/image1.jpg');

}

.item-image2 {
    background-image: url('./../img/variants/image2.jpg');

}

.item-image3 {
    background-image: url('./../img/variants/image3.jpg');
}

.item-image4 {
    background-image: url('./../img/variants/image4.jpg');
}

.item-image5 {
    background-image: url('./../img/variants/image5.jpg');
}

.item-image6 {
    background-image: url('./../img/variants/image6.jpg');
}

.item-image7 {
    background-image: url('./../img/variants/image7.jpg');
}

.item-image8 {
    background-image: url('./../img/variants/image8.jpg');
}



.swiper-pagination-current::after {
    content: " из 52";
}
