.header {
    overflow-x: clip;
}

.header__top {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: calc(50% - 1120px / 2);
    padding-right: calc(50% - 1120px / 2);
    height: 85px;
    background: $white;
    box-shadow: 0px 4px 20px 0px rgba(43, 43, 51, 0.20);
    z-index: 5;

    @include mediaDesktopTab {
        padding-left: calc(50% - 476px);
        padding-right: calc(50% - 456px);
    }

    @include mediaTablet {
        padding-left: calc(50% - 352px);
        padding-right: calc(50% - 356px);
    }

    @include mediaMobile {
        height: 68px;
    }
}

.header__top-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 80px;
    padding-left: 13px;
    height: 48px;
    white-space: nowrap;

    @include mediaTablet {
        width: 640px;
        column-gap: normal;
    }

    @include mediaMobile {
        padding-left: 30px;
    }
}

.header__logo-img {
    @include mediaMobile {
        max-width: 76%;
    }
}

.header__nav-ul {
    display: flex;
    column-gap: 42px;
    padding-left: 6px;
}

.header__nav-li3,
.header__nav-li4 {
    @include mediaDesktopTab {
        display: none;
    }
}

.header__nav-li1,
.header__nav-li2 {
    @include mediaTablet {
        display: none;
    }
}

.header__nav-link {
    position: relative;
    padding: 12px 0;
    color: $black;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    &_color {
        color: $red;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;

    }
}

.header__nav-link::after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 11px;
    left: auto;
    width: 0;
    height: 1px;
    background-color: $black;
    -webkit-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
   
 }
 
 .header__nav-link:hover:after {
     width: 100%;
     left: 0;
 }

 .header__nav-link_color::after {
    background-color: $red;
 }


.header__contacts {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 25px;
    border-right: 1px solid #E3E3E3;

    @include mediaMobile {
        display: none;
    }
}

.header__button {
    margin-right: 20px;
}

.header__nav-svg {
    stroke: $black-1;
    transition: stroke 0.2s ease-in-out;

    &:hover {
        stroke: $grey; 
    }
}
.header__nav-phone, 
.header__nav-location {
    display: flex;
    position: absolute;
    opacity: 0;
    flex-shrink: 0;  
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: $white;
   box-shadow: 0px 4px 20px 0px rgba(43, 43, 51, 0.20);
   transition: opacity 0.3s ease-in-out;
}

.header__nav-phone {

    width: 220px;
    height: 101px;
    top: 96px;
    right: 436px;
  
    @include mediaDesktop {
        right: 310px;
    }
}

.header__phone-number, 
.header__location {
color: $black-1;
font-size: 16px;
font-weight: 400;
line-height: 30px; /* 187.5% */
}

.phone__show {
    opacity: 1;
}

.header__nav-location {
   
    width: 266px;
    height: 101px;
    top: 96px;
    right: 150px;

    @include mediaDesktop {
        right: 24px;
    }
}

.header__location {
line-height: 21.5px; /* 134.375% */
}

.location__show {
    opacity: 1;
}


.header__nav-burger {
    padding: 24px 0 24px 24px;

    @include mediaTablet {
        padding-right: 15px;
    }

    @include mediaMobile {
        padding-right: 30px;
    }
}

.header__nav-burger>svg {
    max-width: none;
}

