.option {
    padding-left: 24px;
    padding-right: 24px;
    background-image: url(./../img/valeria.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 605px;

    @include mediaTablet {
        height: 469px;  
    }

    @include mediaMobile {
        padding-left: 0px;
        padding-right: 0px;  
    }
}
.option__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1120px;
    margin: 450px auto 20px;
    padding-left: 64px;
    padding-right: 64px;
    height: 133px;
    border-radius: 30px;
   background: $white;

   @include mediaDesktopTab {
    padding-left: 32px;
    padding-right: 32px;
   }

   @include mediaTablet {
    flex-direction: column;
    row-gap: 14px;
    max-width: 470px;
    height: auto;
    padding: 52px;
    margin: 60px auto 30px;
    text-align: center;
   }

   @include mediaMobile {
    width: 300px;
    padding-left: 40px;
    padding-right: 40px;

   }   
}

.option__title {
color: $black;
font-size: 24px;
font-weight: 400;
text-transform: uppercase;

@include mediaMobile {
    font-size: 20px; 
}
}
.option__title-italic {
    color: $black;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    text-transform: uppercase; 

    @include mediaMobile {
        font-size: 20px; 
    }
}

.option__text {
color: $black;
font-size: 16px;
font-weight: 300;
}

.option__form {
    display: flex;
    column-gap: 80px;
    align-items: center;

    @include mediaDesktopTab {
        column-gap: 32px;
    }

    @include mediaTablet {
        flex-direction: column;
        row-gap: 16px;
    } 
}

.option__form-left {
    display: flex;
    flex-direction: column;
    width: 144px;

    @include mediaTablet {
      width: 220px; 
    } 
}
   
.option__input {
height: 20px;
color: $black-1;
font-size: 12px;
font-weight: 400;
}
.option__line {
    height: 1px;
    background:  #848484; 
    margin-bottom: 9px;
}
.content__button {
    padding: 11px 28px;
    background-color: $red;
    font-size: 16px;
    color: $white;
    border: none;
    &:hover {
        background-color: $red-hov;
    }

   @include mediaTablet {
    padding: 11px 54px;
    }
}