.select {
    height: 995px;
    background: #D9D9D9;
    background: url(./../img/line-vertical.svg) center 530px no-repeat,
        url(./../img/select_img.jpg) center no-repeat;
    background-size: auto, cover;

    @include mediaDesktopTab {
        height: 683px;
        background-position: center 375px,
            center;
        background-size: 16px 68px, cover;
    }

    @include mediaTablet {
        height: 820px;
        background-position: center 320px,
            center;
        background-size: 16px 50px, cover;
    }

    @include mediaMobile {
        height: 687px;
        background-position: center 200px,
            center;
        background-size: 16px 50px, cover;
    }

}

.select__header {
    padding-top: 157px;
    color: $white;
    text-align: center;
    font-size: 128px;
    font-weight: 800;
    line-height: 135px;
    /* 105.469% */
    text-transform: uppercase;

    @include mediaDesktopTab {
        padding-top: 108px;
        font-size: 92px;
        line-height: 100px;
        /* 108.696% */
    }

    @include mediaTablet {
        padding-top: 76px;
        font-size: 71px;
        line-height: normal;
    }

    @include mediaMobile {
        padding-top: 56px;
        font-size: 40px;
    }
}

.select__text {
    padding-top: 38px;
    color: $white;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;

    @include mediaDesktopTab {
        padding-top: 21px;
    }

    @include mediaTablet {
        padding-top: 14px;
        font-size: 20px;
    }

    @include mediaMobile {
        padding-top: 10px;
        font-size: 16px;
    }
}

.select__menu {
    display: grid;
    grid-template-columns: repeat(3, 154px) 172px 1fr 168px;
    grid-template-areas: "item1 item2 item3 item4 item5 button";
    align-items: center;
    margin-top: 182px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    width: 928px;
    height: 64px;
    border-radius: 30px;
    background-color: $white;
    /* тень под меню */
    box-shadow: 0px 4px 20px 0px rgba(43, 43, 51, 0.20);

    @include mediaDesktopTab {
        margin-top: 156px;
    }

    @include mediaTablet {
        grid-template-columns: repeat(2, 1fr);
        // grid-template-rows: repeat(5, 62px);
        grid-template-areas:
            "item1 item1"
            "item2 item2"
            "item3 item3"
            "item4 item5"
            "button button";
        margin-top: 110px;
        padding: 0px 24px 5px;
        width: 300px;
        height: 320px;
    }

}

.select__menu-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    border-right: 1px solid $line;
    padding-left: 20px;
    cursor: pointer;

    &_ch {
        border: none;

        @include mediaTablet {
            ::before {
                content: "";
                position: absolute;
                left: 0;
                top: 12px;
                width: 1px;
                height: 38px;
                background: $line;
            }
        }
    }

    @include mediaTablet {
        padding-left: 0px;
        height: 62px;
        border-right: none;
        border-bottom: 1px solid $line;
    }
}

.select__item1 {
    grid-area: item1;
}

.select__item2 {
    grid-area: item2;
}

.select__item3 {
    grid-area: item3;
}

.select__item4 {
    grid-area: item4;
}

.select__item5 {
    grid-area: item5;

    @include mediaTablet {
        padding-left: 20px;
    }
}


.select__menu-title {
    color: $black-1;
    font-size: 12px;
    font-weight: 400;

    &_up {
        color: $grey-text;
        font-size: 16px;
        font-weight: 400;
        line-height: 2.5;
        text-transform: uppercase;
    }
}

.select__menu-text {
    color: $black-1;
    font-size: 16px;
    font-weight: 500;

    &_up {
        text-transform: uppercase;
    }
}

.select__button {
    margin-right: 12px;
    padding: 12px 28px;
    background-color: $red;
    color: $white;
    border: none;
    grid-area: button;

    &:hover {
        background-color: $red-hov;
    }

    @include mediaTablet {
        margin: 12px auto;
        width: 252px;
    }
}