@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/rasfire-personal-use');

@font-face {
    font-family:'Millanova';
    src: url('./../fonts/millanova.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/millanova.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('../fonts/millanova.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/millanova.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/millanova.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/millanova.svg#millanova') format('svg');
    /* Chrome < 4, Legacy iOS */
}

@font-face {
    font-family: 'Chandra';
    src: url('./../fonts/Chandra.ttf') format('truetype'),
        url('./../fonts/HELLO-CHANDRA-BF64bcefa81499d.woff') format('woff');
}


html, body {
    overflow-x: hidden;
}
body {
    font-family: $fonts-main;
    color: $black-1;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}

.mask {
    width: 100%;
    height: 100%;
    background-color: $white;
    position: fixed;
    top:0;
    z-index: 100;
    transition: 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;

}

.loader {
    width: 50px;
    --b: 8px; 
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    background: conic-gradient(#0000 10%,#f03355) content-box;
    -webkit-mask:
      repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
      radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
            mask-composite: intersect;
    animation:l4 1s infinite steps(10);
  }

  @keyframes l4 {to{transform: rotate(1turn)}}

  .hide {
    opacity: 0;
  }

.container {
    max-width: 1918px;
    margin: 0 auto;
    overflow-x: hidden;
}

.button {
    padding: 12px 16px 10px;
    border-radius: 30px;
    border: 1px solid #6A6A6A;
    color: $black;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    transition: background 0.2s ease-in-out;

    &:hover {
        background: #F8F8F8;
    }
}

.box-bottom {
    height: 660px;
    background-color: rgb(206, 206, 206);
}

.header-last {
color: $black-1;
font-size: 44px;
font-weight: 500;
text-transform: uppercase;

@include mediaMobile {
font-size: 28px; 
text-align: center;
}
}

.title-last {
color: $black-1;
font-size: 24px;
font-weight: 300;
text-transform: uppercase;

@include mediaMobile {
    font-size: 16px; 
    text-align: center;
    }
}



