//fonts
$fonts-main: 'Roboto', sans-serif;



//colors
$white: #FFF;
$grey: #585858;
$grey-1: #6B6B6B;
$grey-text: #A1A1A1;
$line: #D4D4D4;
$red: #EC1C24;
$red-hov: #DD1A21;
$black-1: #1C1C1C;
$black: #000;
$slide: #F8F8F8;